[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
schedule = "*"
tweepy = "==4.4.0"
requests = "*"
pymongo = "*"
dnspython = "*"
python-dotenv = "*"
pendulum = "*"

[dev-packages]

[requires]
python_version = "3.10"
